/* Connect Four board */
.board {
  background-color: blue;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  position: relative;
}

.board::before,
.board::after {
  background-color: blue;
  content: "";
  height: 720px;
  width: 20px;
  position: absolute;
}

.board::before {
  left: -20px;
}

.board::after {
  right: -20px;
}

.column {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
}

.cell {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.empty {
  background-color: white;
}

.column:hover .empty {
  background-color: lightgray;
}

.column:hover .empty~.empty {
  background-color: white;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}